SECRET_KEY=yoursecretkey

DATABASE_NAME=yourdatabasename
DATABASE_USER=yourdatabaseuser
DATABASE_PASSWORD=yourdatabasepassword
DATABASE_HOST=yourdatabasehost
DATABASE_PORT=yourdatabaseport

STRIPE_SECRET_KEY=your_stripe_secret_key

EMAIL=your@gmail.com
EMAILPASSWORD=password